.MuiTableRow-root .MuiTableCell-head {
    padding-left: 20px;
    padding-right: 20px;
}
.MuiTableRow-root .MuiTableCell-root{
    padding-left: 20px;
    padding-right: 20px;
}
.MuiTableRow-root .MuiTableCell-paddingNone{
    padding: 0px;
}
.MuiIconButton-root{
    cursor: pointer;
}

.asset_department{
    background-color: #fff;
    padding: 8px;
    height: auto;
}
.w-60{
    width: 60%;
}
.margin-auto {
    margin: auto;
}
.none_wrap{
    white-space: nowrap !important;
}